<form *ngIf="show_add_task" class="add-form" (ngSubmit)="on_submit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add Day & Time">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Task</label>
    <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" placeholder="Set Reminder">
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
